# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Txt files
Altland-Zirnbauer/Data_Analysis/.ipynb_checkpoints
Altland-Zirnbauer/Data_Analysis/Channel/*.txt
Altland-Zirnbauer/Data_Analysis/Gamma/*.txt
Altland-Zirnbauer/Data_Analysis/Concurrence/*.txt
Altland-Zirnbauer/Data_Analysis/Bell_Parameter/Bell_Ress/*.txt
Altland-Zirnbauer/Data_Analysis/Bell_Parameter/Bell_Gamma/*.txt
Altland-Zirnbauer/Data_Analysis/Bell_Parameter/Bell_Fixed_Base/*.txt
Altland-Zirnbauer/Data_Analysis/Energy/Energy_Channel/*.txt
Altland-Zirnbauer/Data_Analysis/Energy/Energy_Gamma/*.txt
